*~
*.app
*.cache
*.dylib
*.lo
*.lo?
*.la
*.luac
*.moc.cpp
*.gmo
*.o
*.so
*.trs
*.pc
*.vlt
*.class
*.dmg
.DS_Store
.deps
.libs
.dirstamp
ABOUT-NLS
aclocal.m4
ChangeLog
compile
config.status
config.h*
config.log
configure
doltcompile
doltlibtool
INSTALL.git
libtool
Makefile
Makefile.in
stamp-*
vlc
vlc.exe
qvlc
rvlc
svlc
cvlc
qvlc
mvlc
nvlc
wxvlc
vlc_install_dir/*
plugins.dat
patches/*
sysroot/*

include/vlc/libvlc_version.h

# Ignore build dirs
build*
contrib-*
install-*

# These seem to turn up after build as untracked:
autotools/config.guess
autotools/config.sub
autotools/depcomp
autotools/ltmain.sh
autotools/missing
autotools/test-driver
autotools/ylwrap
bin/vlc-cache-gen
bin/vlc-static
bin/vlc-wrapper
include/vlc_about.h
modules/gui/qt/resources.cpp
modules/gui/qt/ui/about.h
modules/gui/qt/ui/equalizer.h
modules/gui/qt/ui/fingerprintdialog.h
modules/gui/qt/ui/messages_panel.h
modules/gui/qt/ui/open.h
modules/gui/qt/ui/open_capture.h
modules/gui/qt/ui/open_disk.h
modules/gui/qt/ui/open_file.h
modules/gui/qt/ui/open_net.h
modules/gui/qt/ui/podcast_configuration.h
modules/gui/qt/ui/profiles.h
modules/gui/qt/ui/sout.h
modules/gui/qt/ui/sprefs_audio.h
modules/gui/qt/ui/sprefs_input.h
modules/gui/qt/ui/sprefs_interface.h
modules/gui/qt/ui/sprefs_subtitles.h
modules/gui/qt/ui/sprefs_video.h
modules/gui/qt/ui/streampanel.h
modules/gui/qt/ui/update.h
modules/gui/qt/ui/video_effects.h
modules/gui/qt/ui/vlm.h
modules/stream_out/chromecast/cast_channel.pb.cc
modules/stream_out/chromecast/cast_channel.pb.h
po/POTFILES
share/vlc.appdata.xml
share/vlc.appdata.xml.in
share/vlc.desktop
src/fourcc_gen
src/fourcc_tables.h
src/revision.*

